body{
    background-image: linear-gradient(to right,#4dabff 0%, #62ddff 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.pageone{
    margin: 0 88px;
    max-height: 100vh;
    position: relative;
}

.nav{
    padding: 0 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation{
    max-height: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.navigation li{
    margin: 30px 25px 30px 0;
    font-weight: 600;
    max-width: 68px;
    overflow: visible;
}

.navigation li button{
    color: white;
    background: none;
    border: none;
    padding: 0;
}

.drop-down{
    max-width: 38px;
    width: 38px;
    margin: 0;
    height: 80%;
}

.drop-down ul{
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    background-color: white;
    width: 200px; 
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
}

.drop-down ul li{
    margin: 0;
    padding: 15px 0 15px 25px;
    overflow-wrap: normal;
    max-width: none;
    border-bottom: 1px solid rgb(233, 233, 233);
    color: rgb(56, 56, 56);
    transition: background-color 300ms ease-in;
}

.drop-down ul{
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}

.drop-down ul li:hover{
    background-color: rgb(72, 72, 233);
    border: none;
}

.drop-down:hover ul{
    opacity: 1;
    pointer-events: all;
}


.free_trial{
    padding: 15px 20px;
}

.free_trial{
    padding: 13px 30px;
    color: white;
    background: none;
    border: 1px solid white;
}

.free_trial:hover{
    color: black;
    background-color: white;
}

.main{
    margin-top: 150px;
    display: flex;
}

h1{
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
}

.introduction p{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.logo img{
    height: 400px;
}

.introduction button{
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 2px;
    transition: all 0.6s;

}

.get_started,.download:hover{
    background: none;
    border: 1px solid white;
    color: white;
    margin-right: 10px;
    font-weight: 600;
}

.download{
    border: 1px transparent;
    background-color: white;
    font-weight: 600;
    color: black;
    margin-right: 10px;
}

.get_started:hover{
    background-color: white;
    color: black;
}